.DS_Store
xcuserdata/
/Docs
Life2Gpx.xcodeproj/project.xcworkspace/xcuserdata/marcocarandente.xcuserdatad/UserInterfaceState.xcuserstate
/Life2Gpx/Logs
Life2Gpx.xcodeproj/project.xcworkspace/xcuserdata/marcocarandente.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
