
Life2Gpx.xcodeproj/xcuserdata/marco.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Docs
Life2Gpx.xcodeproj/project.xcworkspace/xcuserdata/marcocarandente.xcuserdatad/UserInterfaceState.xcuserstate
/Life2Gpx/Logs
Life2Gpx.xcodeproj/project.xcworkspace/xcuserdata/marcocarandente.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
